*.ali
*.exe
*.o
*.pyc
*.so
*~
*.cgpr
b__*
*.bexch
*.a
*.d
*.log
gnatinspect.*
obj/
lib/
*.stdout
*.stderr
*.ali
*.gli
*.exe
*.gcda
*.gcno
*.gcov
*.bexch
*.o
*.deps
*.pyc

.build
.gpsrcs
releases
static
releases/**
debug
debug/**

static
